%section
  %article
    %header
      %p Enter a twitter screen name and press calculate to determine the base categories the user is interested in.

    %form{:action => '/', :method => 'post'}
      %fieldset
        %ul
          %li
            %label{:for => 'sn'} Twitter Screen Name @
          %li
            %input{:type => 'text', :name => 'sn', :id => 'sn'}
          %li
            %input{:type => 'submit'}
    - if @categories
      = haml :results 