%header
  %h2 The Social Graph Project 

%section
  %article
    %header
      %h3 Project Purpose
    %p Find out what interests the user using a simple algorithm as possible, the goal would be
to enter the users social id, and quickly receive their main interest categories or keywords.
  
  %article
    %header
      %h3 Why
    %p The theory is that a person that interacts in a Social Graph connects to friends, that they
are interested in hearing from.  So if a system could understand the focus of these nodes,
it could quickly determine basic categories the user is interested in, therefore provide
more context about who the user is.

  %article
    %header
      %h3 The Algorithm
    %ul
      %li Step 1: Identify User by Screen Name
      %li Step 2: Find all nodes that the user follows
      %li Step 3: Filter all followed nodes by a ranking algorithm
      %li Step 4: Grab each followed nodes profile description and send to a natural language api
      %li Step 5: Retrieve the category the description most likely meets from the NL API
      %li Step 6: Weight the Categories based on occurrence and display to the requestor

      %article
        %header 
          %h3 The experiment details
        %p In this project we are using twitter as the graph.  And we are connecting to infochimps API to calculate
the trstrank.  The trstrank will allow us to select the top 15 followers for a given user.  Then we will use the twitter api to grab the description of each follower and use the Alchemy API to perform natural language processing on each description, to determine a category that this user fits.
        %p Hopefully, at the end of the experiment it will show a simple way to determine a users major interests.
